

<div class="container">
<!-- #GET COOL URL -->
  <div align="center"><br>
    <form action = "/cool_url" method="get">
      <input type="text" name="get_input">
      <input type="submit" value="Submit!">
    </form>
  </div>
  <!-- #POST COOL URL -->
  <div align="center"><br>
    <form action = "/cool_url" method="post">
      <input type="text" name="post_input">
      <input type="submit" value="Submit!">
    </form>
  </div>




  <form action="/post_something" method="get">
    <!-- 1) Text Area -->
    <div align="center"><br>
      <!-- http://www.echoecho.com/htmlforms08.htm -->
      <textarea cols="40" rows="5" name="myname"></textarea>
      <input type="submit" value="Submit!">
    </div>

    <!-- 2) Radio Buttons -->
    <div align="center"><br>
      <input type="radio" name="group1" value="Milk"> Milk<br>
      <input type="radio" name="group1" value="Butter" checked> Butter<br>
      <input type="radio" name="group1" value="Cheese"> Cheese
    </div>

    <!-- 3) Checkbox Buttons -->
    <div align="center"><br>
     <input type="checkbox" name="option1" value="Milk"> Milk<br>
     <input type="checkbox" name="option2" value="Butter" checked> Butter<br>
     <input type="checkbox" name="option3" value="Cheese"> Cheese<br>
    </div>

    <!-- 4) Select Box -->
    <div align="center"><br>
      <select name="mydropdown">
        <option value="Milk">Fresh Milk</option>
        <option value="Cheese">Old Cheese</option>
        <option value="Bread">Hot Bread</option>
      </select>
    </div>

  </form>
</div>

